{% load transmogrifiers typogrify tagging_tags native %}
<div class="entry mb clear-b">
	{% if entry.photo %}
		{% smart_size entry.photo 100x100 alt=entry.title class="entrylist left" %}
		{# <img src="{% resize entry.photo.url 100 %}" alt="{{entry.title}}" class="entrylist left"> #}
	{% endif %}
	<div class="entrytease">
		<h3 class="mb min sans">
			<a href="{{ entry.get_absolute_url }}">{{ entry.title|titlecase|typogrify }}</a>
		</h3>
		<p>by <a href="{{ entry.author.get_absolute_url }}">{{ entry.author }}</a>&nbsp;&bull;&nbsp;Published {{ entry.pub_date.day }} {{ entry.pub_date|date:"M" }} {{ entry.pub_date|date:"Y" }}</p>
		<p class="mb hyphenate">{% if entry.tease %}
			{{ entry.tease|typogrify }}
		{% else %}
			{{ entry.body|typogrify|truncatewords:"20" }}
		{% endif %}</p>
		<p><img src="{{ STATIC_URL}}images/icons/comments.png" width="16" height="16" alt="comments" class="icon mr"/>&nbsp;<a href="{{ entry.get_absolute_url }}#disqus_thread">Comments</a></p>
		<p class="tags">
			{% tags_for_object entry as tags %}
			<img src="{{ STATIC_URL }}/images/icons/tag_yellow.png" width="16" height="16" alt="tag" class="icon mr" />&nbsp;
			{% for tag in tags %}
			{% if not forloop.last %}
				<a href="{% url tagging_tag tag %}">{{ tag }}</a> - 
			{% else %}
				<a href="{% url tagging_tag tag %}">{{ tag }}</a>
			{% endif %}
			{% endfor %}
		</p>
	</div>
</div>
