{% load i18n %}
{%spaceless%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
		<meta name="" content="content">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.4.2.min.js"></script>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
		<div id="hat">
	        {% if site_wide_announcements %}
	            <div id="announcements">
	                <ul>
	                    {% for announcement in site_wide_announcements %}
	                    <li>
	                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
	                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
	                    </li>
	                    {% endfor %}
	                </ul>
	            </div>
	        {% endif %}
	        {% if messages %}
			<div class="mod">
	            <ul id="messages">
	                {% for message in messages %}
	                <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	                    <a href="#"><small>{% trans "clear" %}</small></a>
	                    {{ message }}
	                </li>
	                {% endfor %}
	            </ul>
			</div>
	        {% endif %}
		{% block body_hat %}{% block member_opts %}{% endblock %}
		{% endblock %}
		</div>
        {% block body_outer %}
		<div id="container" class="round6 ltshadow">
			<div id="header">
				{% block site_header %}{% endblock %}
            </div>
	        <div id="main">
				<div class="mod">
				{% block content_nav %}{% endblock %}
				{% block search %}{% endblock %}
	            {% block body %}{% endblock %}
				</div>
	        </div> {# main #}
			<div id="sidebar">
				{% block sidebar %}
					&nbsp;
				{% endblock %}
			</div>
			<div id="footer">{% block footer %}{% endblock %}</div>
		</div> {# container #}

        {% endblock %}
        
        
        <script src="{{ STATIC_URL }}js/uni-form.jquery.js" type="text/javascript"></script>
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
