{% extends "site_base.html" %}
{% load tagging_tags typogrify transmogrifiers disqus_tags %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}
	<link rel="alternate" href="{% url rss_feed %}" type="application/rss+xml" title="RSS 2.0" charset="utf-8">
{% endblock %}
{% block body %}
	<div class="entrylist">
	{% for entry in entries %}
		{% if forloop.first %}
			{% include "viewpoint/entry_list_first.html" %}
		{% else %}
			{% include "viewpoint/entry_list_item.html" %}
		{% endif %}
	{% endfor %}
	</div>
{% endblock %}
{% block extra_body %}
{% disqus_num_replies %}
{% endblock %}