{% extends "base.html" %}
{% load i18n %}
{% load analytics %}
{% load native %}
{% block extra_head %}
{% endblock %}
{% block body_hat %}{% endblock %} {# block hat #}
{% block site_header %}{% endblock %}
{% block content_nav %}{% endblock %}
{% block search %}{% endblock %}
{% block sidebar %}
<img src="{{ STATIC_URL}}/images/osheading.png" width="180" height="205" alt="We're Open" />
<h1 class="sitehead mb">Open Source at The Washington Times</h1>
	<div id="menu_container">
	<ul id="sbmenu">
		<li><a href="/" title="Home">
			<img src="/media/static/images/icons/house.png" alt="Home" width="16" height="16" class="icon" />
			Home
		</a></li>
		<li><a href="{% url viewpoint_blog_detail %}" class="title">
			<img src="/media/static/images/icons/folder_page_white.png" alt="Articles" width="16" height="16" class="icon" />
			Articles
		</a></li>
		<li><a href="{% url tagging_index %}">
			<img src="/media/static/images/icons/tag_yellow.png" alt="Topics" width="16" height="16" class="icon" />
			Article Topics
		</a></li>
		<li><a href="{% url staff_index %}">
			<img src="/media/static/images/icons/group.png" alt="Team Members" width="16" height="16" class="icon" />
			Team Members
			</a></li>
		<li><a href="{% url projects %}">
			<img src="/media/static/images/icons/package.png" alt="Projects" width="16" height="16" class="icon" />
			Projects
			</a></li>
	</ul>
	</div>
{% endblock %}
{% block footer %}
<div class="legal">
	&copy; {% now "Y" %} The Washington Times
</div>
{% endblock %}
{% block extra_body_base %}
{% analytics_async %}
{% endblock %}
