# These are your project's requirements and you should change them
# to meet any customizations you wish to implement

--extra-index-url=http://opensource.washingtontimes.com/pypi/simple/

django
calloway

-r calloway_reqs.txt

django-profiles==0.2
django-tagging-ext==0.2.0
django-disqus==0.3.3