{% extends 'djangopypi/djangopypi_base.html' %}
{% block head_title %}{{ release}}{% endblock %}
{% block extra_head %}
	{{ block.super }}
	<link rel="meta" title="DOAP" type="application/rdf+xml"
		href="{% url djangopypi-release-doap package=release.package.name version=release.version %}"/> 
{% endblock %}
{% block body %}
		<h1>{{ release }}</h1>
		{% ifnotequal release release.package.latest %}
		<div>Latest: <a href="{{ release.package.latest.get_absolute_url }}">{{ release.package.latest }}</a></div>
		{% endifnotequal %}
		{% load safemarkup %}
		{{ release.description|saferst }}
		
		{% if release.distributions.count %}
		<h2>Downloads</h2>
		<ul>
		{% for dist in release.distributions.all %}
			<li><a href="{{ dist.get_absolute_url }}">{{ dist }}</a> ({{ dist.content.size|filesizeformat }})</li>
		{% endfor %}
		</ul>
		{% endif %}
{% endblock %}